<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>手を選んでください</h1>
<form method="POST" action="/dicision">
    <select name="hand">
        <option value="rock">グー</option>
        <option value="scissors">チョキ</option>
        <option value="paper">パー</option>
    </select>
    <input type="submit" value="送信">
</form>
</body>
</html>
